<app-header></app-header>

<section class="formulario">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">

                <ul class="nav nav-tabs mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>

                <form [formGroup]="vendedorForm" novalidate>
                    <div class="mb-3">
                        <label for="">Nome</label>
                        <input type="text" class="form-control" formControlName="nome">
                    </div>
                    <div class="mb-3">
                        <label for="">E-mail</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="enviar()">Salvar Vendedor</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="alert alert-success alert-dismissible" role="alert" *ngIf="success">
            <div>Vendedor cadastrado com sucesso!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>

        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="error">
            <div>Houve um erro, tente novamente!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>
    </div>
</section>

<app-footer></app-footer>
