<app-header></app-header>

<section class="formulario">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">

                <ul class="nav nav-tabs mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>

                <form>
                    <div class="mb-3">
                        <label for="">Nome Completo</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="mb-3">
                        <label for="">E-mail</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="mb-3">
                        <label for="">Senha</label>
                        <input type="password" class="form-control" name="" id="">
                    </div>
                    <div class="mb-3">
                        <label for="">Tipo de Usuário</label>
                        <select class="form-select">
                            <option selected>Selecione</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-primary">Salvar Usuário</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="alert alert-success alert-dismissible" role="alert">
            <div>Usuário cadastrado com sucesso!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>

        <div class="alert alert-danger alert-dismissible" role="alert">
            <div>Houve um erro, tente novamente!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>
    </div>
</section>

<app-footer></app-footer>
