<section class="login-content">
    <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 text-center">
                <img src="../../../assets/images/logo.jpg" alt="Sistema de Vendas">
    
                <div class="login border rounded mt-5 p-3">
                    <form [formGroup]="loginForm" novalidate>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                            <input type="text" formControlName="usuario" class="form-control" placeholder="Usuário">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                            <input type="password" formControlName="senha" class="form-control" placeholder="Senha">
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="enviar()">Entrar</button>
                        </div>
                    </form>
                </div>

                <div class="alert alert-danger alert-dismissible mt-3" role="alert" *ngIf="error">
                    <div>Usuário inválido!</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"  (click)="fechar()"></button>
                </div>
            </div>
        </div>
    </div>
</section>