<app-header></app-header>

<section class="listagem">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>

                <div class="text-center mt-5 mb-5">
                    <a href="/vendedor/inserir" class="btn btn-primary">Novo Vendedor</a>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listaVendedor">
                        <tr *ngFor="let item of listaVendedor.vendedores; index as i">
                            <td scope="row">{{ i + 1 }}</td>
                            <td>{{ item.nome }}</td>
                            <td>{{ item.email }}</td>
                            <td>
                                <a [attr.href]="'/vendedor/editar/' + item.id" title="Editar" class="link-secondary">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:void[0];" title="Excluir" class="link-danger" (click)="excluir(item.id)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>