<app-header></app-header>

<section class="listagem">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <app-menu [itens]="itensMenu" *ngIf="tipoUsuario == 0"></app-menu>
                <app-menu [itens]="itensMenuGer" *ngIf="tipoUsuario == 2"></app-menu>

                <div class="text-center mb-5">
                    <a href="/venda/inserir" class="btn btn-primary">Nova Venda</a>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>Rafael</td>
                            <td>R$ 300,00</td>
                            <td>
                                <a href="/venda/editar/1" title="Editar" class="link-secondary">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:void[0];" title="Excluir" class="link-danger">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>