<app-header></app-header>

<section class="formulario">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">

                <app-menu [itens]="itensMenu" *ngIf="tipoUsuario == 0"></app-menu>
                <app-menu [itens]="itensMenuGer" *ngIf="tipoUsuario == 2"></app-menu>

                <form [formGroup]="clienteForm" novalidate>
                    <div class="mb-3">
                        <label for="">Nome</label>
                        <input type="text" formControlName="nome" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">CPF/CNPJ</label>
                        <input type="text" formControlName="cpf" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">E-mail</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="enviar()">Salvar Cliente</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="alert alert-success alert-dismissible" role="alert" *ngIf="success">
            <div>Cliente alterado com sucesso!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar" (click)="fechar()"></button>
        </div>

        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="error">
            <div>Houve um erro, tente novamente!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar" (click)="fechar()"></button>
        </div>
    </div>
</section>

<app-footer></app-footer>
